.projects .box{
    box-shadow: 0 0 20px 0 rgb(112 121 138 /18%);
    border-radius: 6px;
    text-align: center;
    padding: 30px;
    cursor: pointer;
}
.projects .box:hover {
  animation-play-state: paused;
}
.projects img {
    width:125px;
    height: 90px;
    margin: auto;
}
.images{
    height:100px;
    width:100px;
}
.marquee-container {
    overflow: hidden;
    width: 100%;
    display: flex;
  }
  
  .marquee-content {
    display: inline-block;
    width: max-content; 
    scroll-snap-type: x mandatory;
    white-space: nowrap;
    animation: marquee 12s linear infinite alternate;
    animation-play-state: running;
  }
  .marquee-container:hover .marquee-content {
    animation-play-state: paused;
  }
  
  @keyframes marquee {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  